<h3 class="header">Click any button and wait for the results</h3>

<app-risk-filter [disabled]="isLoading" (changedRisk)="calculateAverageAmount($event)"></app-risk-filter>

<div *ngIf="isLoading" class="ui icon message">
  <i class="notched circle loading icon"></i>
  <div class="content">
    <div class="header">
      Loading, please wait ...
    </div>
    <p>Data are loaded via proxy, so it takes some time.</p>
  </div>
</div>

<div *ngIf="errorMessage" class="ui error message">{{errorMessage}}</div>

<div class="results" *ngIf="averageAmount > 0 && !isLoading">

  <div class="ui statistics">
    <div class="statistic">
      <div class="value">
        {{averageAmount | currency:currencyValue:'symbol':'3.2-2':locale}}
      </div>
      <div class="label">
        Average amount
      </div>
    </div>
    <div class="statistic">
      <div class="value">
        {{recordsCount}}
      </div>
      <div class="label">
        Number of loans.
      </div>
    </div>
  </div>

</div>
