<div class="ui raised segment top app-header">
  <div class="ui stackable grid">
    <div class="row">
      <div class="eight wide column">
        <h2 class="ui header">
          <div class="content">
            Demo app for Zonky
            <div class="sub header">By David Votrubec</div>
          </div>
        </h2>
      </div>

    </div>
  </div>
</div>

<div class="info-box">
    <div class="ui cards">

        <div class="card">
          <div class="content">
            <a class="ui olive ribbon label">Done</a>
            <h3 class="header">Requirements</h3>

            <div class="description">
              <ul>
                <li>Load loans from marketplace API</li>
                <li>Count average amount</li>
                <li>Display the result</li>
                <li>Use unit test</li>
                <li>Use responsive styling</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="card">
            <div class="content">
              <h3 class="header">Instructions</h3>

              <div class="description">
                <ul>
                  <li>Click any button to calculate average amount for given rating.</li>
                  <li>Wait for results</li>
                </ul>
              </div>
            </div>
          </div>

          <div class="card">
              <div class="content">
                <a class="ui blue right ribbon label">Read this</a>
                <h3 class="header">My core skills</h3>

                <div class="description">
                  <ul>
                    <li>Analytical thinking</li>
                    <li>Solving problems by programming</li>
                    <li>Deep work & being in the flow</li>
                    <li><a href="https://www.facebook.com/vnitrnikrajiny/">Painting</a></li>
                  </ul>
                </div>
              </div>
            </div>
      </div>


</div>

<div class="ui padded text segment calculation">
  <app-zonky-demo-calculator></app-zonky-demo-calculator>
</div>


