@import '../variables';

.app-header {
  background-color: $header-color;
  padding: 2rem;
}

.info-box {
  margin: 2rem;

  .card {
    width: auto;
  }
}


.calculation {
  // cancel the border from Semantic
  border-width: 0;
}
